In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv", converters={'Randomized Id': str})
df

,Extract Run Date,UniqueRandomComplaintId,Allegation Id,Allegation FADO Type,Allegation,Case Type,Closed Year,Days From Received Date To Case Closing,Re-opened,Ever On DA Hold,Complaint Outcome Path,Complaint Disposition,Allegation Outcome Path,Allegation Disposition,Borough Of Incident,Patrol Borough Of Incident
0,05/25/2018,1,1,Force,Beat,CCRB,2000,2817,False,False,Full Investigation,Unsubstantiated,Full Investigation,Unsubstantiated,Brooklyn,Brooklyn North
1,05/25/2018,1,2,Force,Beat,CCRB,2000,2817,False,False,Full Investigation,Unsubstantiated,Full Investigation,Unsubstantiated,Brooklyn,Brooklyn North
2,05/25/2018,1,3,Force,Beat,CCRB,2000,2817,False,False,Full Investigation,Unsubstantiated,Full Investigation,Unsubstantiated,Brooklyn,Brooklyn North
3,05/25/2018,2,1,Discourtesy,Curse,CCRB,2000,2433,False,False,Truncated,Complaint Withdrawn,Truncated,Complaint Withdrawn,Manhattan,Manhattan North
4,05/25/2018,3,1,Discourtesy,Curse,CCRB,2000,2445,False,False,Other,Miscellaneous,Other,Miscellaneous,Manhattan,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309255,05/25/2018,104705,1,Force,Chokehold,CCRB,2017,90,False,False,Truncated,Complainant Uncooperative,Truncated,Complainant Uncooperative,Queens,Queens South
309256,05/25/2018,104705,2,Force,Physical force,CCRB,2017,90,False,False,Truncated,Complainant Uncooperative,Truncated,Complainant Uncooperative,Queens,Queens South
309257,05/25/2018,104706,1,Offensive Language,Race,CCRB,2017,25,False,False,Truncated,Complainant Uncooperative,Truncated,Complainant Uncooperative,Brooklyn,Brooklyn South
309258,05/25/2018,104707,1,Discourtesy,Word,CCRB,2017,14,False,False,Truncated,Complainant Uncooperative,Truncated,Complainant Uncooperative,Bronx,Bronx
309259,05/25/2018,104707,2,Abuse of Authority,Threat of arrest,CCRB,2017,14,False,False,Truncated,Complainant Uncooperative,Truncated,Complainant Uncooperative,Bronx,Bronx

In [3]:
 df["unique_id"] = df["UniqueRandomComplaintId"].astype(str) + "-" + df["Allegation Id"].astype(str)

In [9]:
total_by_year = pd.DataFrame(df['Closed Year'].value_counts().sort_index())
total_by_year

      Closed Year
2000        12793
2001         9871
2002        13361
2003        12844
2004        16825
2005        19131
2006        22199
2007        24856
2008        21722
2009        25053
2010        20614
2011        17758
2012        12011
2013        20125
2014        16094
2015        16776
2016        14300
2017        12927

In [14]:
by_year_calc = 600 / total_by_year["Closed Year"].max()
by_year_calc

0.023949227637408695

In [15]:
total_by_year["size"] = total_by_year["Closed Year"] * by_year_calc

In [16]:
total_by_year

      Closed Year        size
2000        12793  306.382469
2001         9871  236.402826
2002        13361  319.985630
2003        12844  307.603880
2004        16825  402.945755
2005        19131  458.172674
2006        22199  531.648904
2007        24856  595.282002
2008        21722  520.225123
2009        25053  600.000000
2010        20614  493.689379
2011        17758  425.290384
2012        12011  287.654173
2013        20125  481.978206
2014        16094  385.438870
2015        16776  401.772243
2016        14300  342.473955
2017        12927  309.591666

# Force only

In [17]:
force = df[df["Allegation FADO Type"] == "Force"]
force_by_year = pd.DataFrame(force['Closed Year'].value_counts().sort_index())
force_by_year

      Closed Year
2000         3991
2001         3168
2002         4463
2003         4159
2004         5072
2005         5432
2006         6741
2007         7778
2008         6489
2009         7580
2010         6086
2011         5144
2012         3147
2013         6055
2014         4653
2015         4734
2016         3624
2017         2964

In [19]:
force_by_year["size"] = force_by_year["Closed Year"] * by_year_calc
force_by_year

      Closed Year        size
2000         3991   95.581368
2001         3168   75.871153
2002         4463  106.885403
2003         4159   99.604838
2004         5072  121.470483
2005         5432  130.092205
2006         6741  161.441744
2007         7778  186.277093
2008         6489  155.406538
2009         7580  181.535145
2010         6086  145.754999
2011         5144  123.194827
2012         3147   75.368219
2013         6055  145.012573
2014         4653  111.435756
2015         4734  113.375644
2016         3624   86.792001
2017         2964   70.985511

In [21]:
base = 960
for i in range (1,8):
    base = base + 150*1
    print(base)

1110
1260
1410
1560
1710
1860
2010